{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
<link rel="stylesheet" href="{% static 'css/story6.css' %}">
{% endblock meta %}

{% block content %}
<div class="my-form">
  <form action="{% url 'main:add_kegiatan' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_title">Nama Kegiatan</label>
      {{ form.title }}
    </div>
    <div class="form-group">
      <label for="id_desc">Deskripsi Kegiatan</label>
      {{ form.desc }}
    </div>
    <div class="form-group">
      <label for="id_title">Jadwal Kegiatan</label>
      <div class="input-group date coba" id="datetimepicker1" data-target-input="nearest">
        {{ form.date }}
        <div class="input-group-append x" data-target="#datetimepicker1" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
    </div>
    <div class="sub">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

<div class="container-fluid list">
  <h3>Daftar Kegiatan</h3>
  <div class="row flex-row flex-nowrap">
    {% for kegiatan in kegiatans %}
    <div class="col-5">
        <div class="card text-white bg-dark mb-3 cust-card">
          <div class="card-header">{{ kegiatan.title }}</div>
          <div class="card-body item-{{ forloop.counter }}">
            <div class="cust-body-{{ forloop.counter }} d-flex flex-column justify-content-between content-card">
              <h5 class="card-title">{{ kegiatan.date.day }}-{{ kegiatan.date.month }}-{{ kegiatan.date.year }} {{ kegiatan.date.hour }}:{{ kegiatan.date.minute }}</h5>
              <p class="card-text">Deskripsi: </p>
              <ul class="list-group">
                {% for person in kegiatan.person_set.all %}
                <li class="list-group-item bg-dark cust-li">{{ person.nama }}</li>
                {% endfor %}
              </ul>
              <button type="button" class="btn btn-dark cust-btn-{{ forloop.counter }}">Tambah Peserta</button>
              
            </div>

            <div class="cust-daftar-{{ forloop.counter }} clicked">
              <i class="fa fa-arrow-left back-{{ forloop.counter }}"></i>
              <form action="{% url 'main:daftar' kegiatan.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="daftar-kegiatan">Nama</label>
                  <input type="text" name="daftar" id="daftar-kegiatan" class="form-control" spellcheck="false">
                </div>
                <input type="submit" value="Daftar" class="daftar-btn">
              </form>
            </div>
            
          </div>
        </div>
    </div>

    <script>
      $('.cust-btn-{{ forloop.counter }}').on('click', function () {
      $('.cust-body-{{ forloop.counter }}').addClass('clicked');
      $('.cust-body-{{ forloop.counter }}').removeClass('d-flex');
      $('.cust-daftar-{{ forloop.counter }}').removeClass('clicked');
  });


  $('.back-{{ forloop.counter }}').on('click', function () {
    $('.cust-body-{{ forloop.counter }}').removeClass('clicked');
    $('.cust-body-{{ forloop.counter }}').addClass('d-flex');
    $('.cust-daftar-{{ forloop.counter }}').addClass('clicked');
  });
  </script>
    {% endfor %}
  </div>
</div>

  <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
          format: 'DD/MM/YYYY HH:mm',
        });
    });
</script>
{% endblock content %}
