.my-form {
    width: 40%;
    margin: 16vh auto 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form * {
    width: 100%;
}

#id_date {
    width: 80%;
}

.x {
    width: 20%;
}

.coba {
    display: flex;
    flex-direction: row;
}
.list {
    margin-top: 50px;
}
.sub {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

input[type="submit"] {
    width: 50%;
}

.list {
    width: 80%;
    overflow-x: scroll;
}

.cust-btn {
    color: #bebebe;
    background-color: #272b30;
}

.cust-li {
    font-size: 12px;
}
.content-card {
    min-height: 200px;
}
.clicked {
    display: none;
}
.fa-arrow-left {
    font-size: 20px;
    margin-bottom: 20px;
}
.fa-arrow-left:hover {
    cursor: pointer;
}